.news h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #00d1ff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.loading-message,
.error-message,
.no-news-message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.loading-message {
  color: #00d1ff;
}

.error-message {
  color: rgb(255, 255, 255);
}

.no-news-message {
  color: #aaa;
}

.news-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-article {
  flex: 1;
  margin: 0 10px;
  background-color: #2a2a3b;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.news-article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-content h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.news-content p {
  font-size: 1rem;
  color: #ccc;
}

.news-content a {
  color: #00d1ff;
  text-decoration: none;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #00d1ff;
}