.news {
  padding: 20px;
  background-color: #252222;
  border-radius: 10px;
  margin: 20px 0;
}

.news h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.news-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.news-article {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  overflow: hidden;
  width: 300px;
  flex-shrink: 0;
}

.news-article img {
  width: 100%;
  height: 100px; /* Reduced height */
  object-fit: cover;
}

.news-content {
  padding: 10px; /* Reduced padding */
}

.news-content h3 {
  margin: 0 0 5px; /* Reduced margin */
  font-size: 16px; /* Reduced font size */
}

.news-content p {
  margin: 0 0 5px; /* Reduced margin */
  font-size: 12px; /* Reduced font size */
  color: #555;
  display: none;
}

.news-content a {
  color: #007bff;
  text-decoration: none;
  font-size: 12px; /* Reduced font size */
}

.news-content a:hover {
  text-decoration: underline;
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  color: #fff;
}

.arrow.left {
  left: -40px;
}

.arrow.right {
  right: -40px;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff;
}