.news {
    text-align: center;
    padding: 20px;
  }
  
  .news-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
  }
  
  .news-article {
    flex: 0 0 28%;
    margin: 0 5px;
    padding: 10px;
    /* background-color: #f0f0f0; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    font-size: 0.9rem;
  }
  
  .news-article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .news-article:hover,
  .news-article:focus {
    transform: scale(1.05);
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
  }
  
  .arrow.left {
    left: -60px;
    color: rgba(6, 104, 252, 0.438);
  }
  
  .arrow.right {
    right: -60px;
    color: rgba(6, 104, 252, 0.438);
  }
  
  .dots-container {
    margin-top: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }